---
import { readData } from '../../lib/readData';

const menuData = readData('menu.json');
const menuItems = menuData.items || [];
---
<ul class='mobile-menu'>
    {menuItems.map((item: any) => (
        <li class="mb-1.5 relative group item-has-children">
            <a href={item.href} class="font-semibold leading-9 capitalize text-heading-light group-hover:text-primary block w-full">
                {item.label}
            </a>
            {item.categories?.length > 0 && (
                <>
                    <span class='submenu-toggle text-lg w-9 h-9 leading-9 top-0 right-0 absolute text-center cursor-pointer bg-[#f4f4f4] inline-block'>
                        <i class="icofont-thin-down"></i>
                    </span>
                    <ul class="submenu hidden pt-1.5 pl-4 transition-all">
                        {item.categories.map((sub: any) => (
                            <li class="mb-1.5 font-medium hover:text-primary">
                                <a href={sub.href}> {sub.label} </a>
                            </li>
                        ))}
                    </ul>
                </>
            )}
        </li>
    ))}
</ul>

<style lang='scss'>
    .submenu.active {
        display: block !important;
    }
    .submenu-toggle.active i {
        transform: rotate(-180deg) !important;
        display: inline-block;
        transition: all 0.3s;
    }
</style>

<script>
    const subMenuToggles = document.querySelectorAll('.submenu-toggle');
    
    subMenuToggles.forEach(btn => {
        btn.addEventListener('click', function(this: HTMLElement) {
            const submenu = this.nextElementSibling;
            if (submenu) {
                submenu.classList.toggle('active');
                this.classList.toggle('active');
            }
        });
    });
</script>
